table {
    width: 100%;
    background-color: slategray;
}
th {
    font-weight: bold;
    font-size-adjust: inherit;
}
span {
    color: gray;
}
mat-paginator {
    background-color: slategray;
}

.example-container {
    height: 600px;
    overflow: auto;
}

.mat-paginator-sticky {
  bottom: 0px;
  position: sticky;
  z-index: 10;
}