<div>
    <p>tickets works!</p>
    <table class="table">
            <thead>
              <tr>
                <th scope="col">N°</th>
                <th scope="col">Date</th>
                <th scope="col">Titre</th>
                <th scope="col">Client</th>
                <th scope="col">Type</th>
                <th scope="col">Statut</th>
                <th scope="col">Edition</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>02/09/2019</td>
                <td>Installation d'une nouvelle vitrine réfrigérée</td>
                <td>Boucherie ALAINE</td>
                <td>Demande</td>
                <td>En cours</td>
                <td><a href="/list">Modifier</a></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>11/09/2019</td>
                <td>Un des compresseurs de la chambre froide ne fonctionne plus</td>
                <td>Boucherie SANZO</td>
                <td>Incident</td>
                <td>Close</td>
                <td><a href="/list">Consulter</a></td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>02/09/2019</td>
                <td>La vitrine réfrigérée n'est plus assez froide</td>
                <td>Fauchon</td>
                <td>Incident</td>
                <td>En attente</td>
                <td><a href="/list">Modifier</a></td>
              </tr>
            </tbody>
          </table>
          
</div>