<div class="card card-outline-secondary">

    <form [formGroup]="ticketFormGroup">
    <div class="card-header form-row">
        <div class="form-group col-md-9">
            <h3 class="mb-0">Création d'un ticket</h3>
        </div>
        <div class="form-group col-md-3 input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Statut</label>
            </div>
            <select class="form-control custom-select" formControlName="form_status">
                <option *ngFor="let type of statusList" let i = index [ngValue]="type" [selected]="!i">{{type}}</option>
            </select>
          </div>
    </div>
    <div class="card-body container">
                    <div class="form-row">
                      <div class="form-group col-md-7">
                        <label>Objet de la demande</label>
                        <input type="text" class="form-control" formControlName="form_objet" placeholder="Objet">
                      </div>
                      <div class="form-group col-md-5">
                        <label>Type de la demande</label>
                        <select class="form-control" formControlName="form_type">
                            <option *ngFor="let type of demandeTypeList" let i = index [ngValue]="type" [selected]="!i">{{type}}</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-7">
                            <div class="form-group">
                            <label>Description</label>
                            <textarea class="form-control" formControlName="form_description" placeholder="Description du ticket"></textarea>
                            </div>
                        </div>
                        <div class="form-group col-md-5">
                                <label>Technicien affecté</label>
                                <select class="form-control" formControlName="form_technicien" disabled>
                                    <option *ngFor="let type of technicienList" let i = index [ngValue]="type" [selected]="!i">{{type}}</option>
                                </select>
                        </div>
                    </div>
                    

                    <div class="form-row">
                        <div class="form-group col-md-4">
                                <label>Demandeur</label>
                                <select class="form-control" formControlName="form_demandeur">
                                    <option *ngFor="let type of demandeurList" let i = index [ngValue]="type" [selected]="!i">{{type}}</option>
                                </select>
                        </div>
                        <div class="form-group col-md-4">
                                <label>Client</label>
                                <select id="inputState" class="form-control" disabled>
                                    <option selected>Client1</option>
                                    <option>Client2</option>
                                    <option>Client3</option>
                                </select>
                        </div>
                        <div class="form-group col-md-4">
                                <label>Site du client</label>
                                <select class="form-control" formControlName="form_site">
                                        <option *ngFor="let type of clientSiteList" let i = index [ngValue]="type" [selected]="!i">{{type}}</option>
                                </select>
                        </div>
                    </div>


                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label>Catégorie</label>
                            <select class="form-control" formControlName="form_categorie">
                                    <option *ngFor="let type of categorieList" let i = index [ngValue]="type" [selected]="!i">{{type}}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Niveau de priorité</label>
                            <select class="form-control" formControlName="form_priorite">
                                    <option *ngFor="let type of prioriteList" let i = index [ngValue]="type" [selected]="!i">{{type}}</option>
                            </select>
                    </div>
                    </div>


                    <br>
                    <hr class="style14">
                    <br>

                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <button class="btn btn-outline-secondary" type="button" (click)="addTache()">+</button>
                                </div>
                                <input type="text" class="form-control" placeholder="Tâches : " aria-label="" aria-describedby="basic-addon1" disabled>
                            </div>
                        </div>
                    </div>

                    <div formArrayName="form_tache">
                        <div class="form-row">
                            <div class="col-md-9">
                                <div *ngFor="let item of form_tache.controls; let pointIndex=index" [formGroupName]="pointIndex">
                                <div class="input-group" >
                                            <div class="input-group-prepend">
                                                <button class="btn btn-outline-secondary" type="button" (click)="deleteTache(pointIndex)">-</button>
                                            </div>
                                            <input type="text" class="form-control" formControlName="tacheName" placeholder="Nom de la tâche">
                                            <input type="text" class="form-control" formControlName="tacheLength" placeholder="Temps estimé">
                                            <select class="form-control" formControlName="tacheCompetence">
                                                <option *ngFor="let type of competenceList" let i = index [ngValue]="type" [selected]="!i">{{type}}</option>
                                            </select>
                                        
                                        </div>
                                </div>    
                            </div>
                        </div>
                    </div>
                    
                    <br>
                    <hr class="style14">
                    <br>

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label>
                                Date d'ouverture
                                <br>
                                <input [formControl]="openingDate" [owlDateTimeTrigger]="dtPicker1" [owlDateTime]="dtPicker1">
                                <owl-date-time #dtPicker1></owl-date-time>
                            </label>
                        </div>

                        <div class="form-group col-md-4">
                            <label>
                                Date de saisie
                                <br>
                                <input [formControl]="inputDate" [owlDateTimeTrigger]="dtPicker2" [owlDateTime]="dtPicker2">
                                <owl-date-time #dtPicker2></owl-date-time>
                            </label>
                        </div>

                        <div class="form-group col-md-4">
                            <label>
                                Date de début de traitement
                                <br>
                                <input [formControl]="startingDate" [owlDateTimeTrigger]="dtPicker3" [owlDateTime]="dtPicker3">
                                <owl-date-time #dtPicker3></owl-date-time>
                            </label>
                        </div>
                    
                    </div>

                    
                    <div class="form-row">
                    <button type="submit" class="btn btn-outline-primary btn-lg" (click)="sendForm()">Créer ticket</button>
                    </div>
    </div>
    </form>
</div>