mat-expansion-panel{
    background-color: white;
    color: black;
}

mat-panel-title {
    color: black;
}

mat-panel-title,
mat-panel-description {
    flex-basis: 0;
    color: black;
}

mat-panel-description {
    justify-content: space-between;
    align-items: center;
}

