<div class="card card-outline-secondary">
    <div class="card-header">
        <h3 class="mb-0">Liste des Clients </h3>
    </div>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Fauchon
                </mat-panel-title>
                <mat-panel-description>
                    Adresse
                </mat-panel-description>
            </mat-expansion-panel-header>

            Liste des demandeurs
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Boucherie SANZO
                </mat-panel-title>
                <mat-panel-description>
                    Adresse
                </mat-panel-description>
            </mat-expansion-panel-header>

            Liste des demandeurs
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Boucherie ALAINE
                </mat-panel-title>
                <mat-panel-description>
                    Adresse
                </mat-panel-description>
            </mat-expansion-panel-header>

            Liste des demandeurs
        </mat-expansion-panel>
    </mat-accordion>
</div>